{% extends 'navbar.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}

{% if app.user and app.user.roles[0]=="ROLE_ADMIN"  %}
<div class="container front">

    <h1>Create new Genre</h1>

    {{ include('genre/_form.html.twig') }}

    <a class="uk-button uk-button-secondary" href="{{ path('genre_index') }}">< back to list</a>
</div>
{% endif %}
{% endblock %}
