body{
    height:100vh
}
#head{
    position: absolute;
    top: 100px;
    left:40%
}
.header{
    position: absolute;
    z-index: 0!important;
}
.head,.uk-navbar-container{
    background-color: #f3f4f5!important;
}
.uk-button {
    border-radius: 5px!important;
}
.uk-button-success{
    color: white!important;
    background-color: rgb(80, 167, 80);
}
.uk-button-default{
    background-color: #EEE!important;
}
.front{
    position: relative;
    z-index: 200!important;
}
.uk-navbar-center a{
    text-decoration: none!important;
    color: rgb(58, 58, 58)!important;
}
.uk-navbar-center a:hover{
    text-decoration: none!important;
    color: rgb(58, 58, 58)!important;
}