{% extends 'base.html.twig' %}

{% block title %}Edit Auteur{% endblock %}

{% block body %}
{% if app.user %}

    <table class="uk-pading-top">
        <tr>
            <td>
                <a class="uk-button uk-button-secondary uk-padding-medium uk-margin-bottom" href="{{ path('auteur_index') }}"><</a>
            </td>
            <td>
                <h1>Edit Auteur</h1>
            </td>
        </tr>
    </table>
    {{ include('auteur/_form.html.twig', {'button_label': 'Update'}) }}
    <div style="float:right">
        {{ include('auteur/_delete_form.html.twig') }}
    </div>

{% endif %}
{% endblock %}
