{% extends 'base.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block body %}
{% if app.user %}

    <table class="uk-pading-top">
        <tr>
            <td>
                <a class="uk-button uk-button-secondary uk-padding-medium uk-margin-bottom" href="{{ path('auteur_index') }}"><</a>
            </td>
            <td>
                <h1>Create new Auteur</h1>
            </td>
        </tr>
    </table>
    
    {{ include('auteur/_form.html.twig') }}

{% endif %}
{% endblock %}
