{% extends 'navbar.html.twig' %}
{% block title %}Page Inexistante{% endblock %}
{% block body %}
    <div class="front" align="center">
        <h1>Page Introuvable</h1>
        <img width="500px" src={{ asset('assets/img/404error.png')}} >

        <p>
            La page demandée est hors service, veuillez retourner à la page d'accueil ou visiter d'autres pages <a href={{path('home')}}>en cliquant ici</a>
        </p>
    </div>
{% endblock %}
